.stepper {
  display: flex;
  flex-direction: column;
  line-height: 1.25rem;
}
.stepper>li {
  position: relative;
  display: flex;
  gap: 1rem;
  padding-bottom: 4rem;
}
.stepper>li:before {
  content: "";
  position: relative;
  z-index: 1;
  flex: 0 0 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid var(--text-color);
  background: var(--bg-primary);
}
.stepper>li:not(:last-child):after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(1rem);
  width: 3px;
  background: var(--text-color);
}
.content > h3 {
  font-size: 1.2rem;
}
.content>h5 {
  font-style: italic;
  color: var(--text-color);
}
.content>p {
  font-weight: 600;
  font-style: italic;
}
.content>p:last-child {
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: 400;
}