.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.banner > p {
  line-height: 1.5rem;
}
.banner > p > span {
  font-weight: 600;
  font-style: italic;
}
.contactIcons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contactIcons > div {
  display: flex;
  gap: 1rem;
}
.contactIcons > div > h5 {
  letter-spacing: 1px;
}
.contactIcons > div > svg {
  width: 24px;
}
