.card {
  height: 260px;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
.description {
  flex: 2;
}
.img {
  flex: 1;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lists {
  display: flex;
}
.lists > div {
  flex: 1;
}
.links {
  display: flex;
  gap: 1rem;
}
.links > a {
  display: flex;
  align-items: center;
  background: var(--text-color);
  color: var(--bg-primary);
  padding: 0.5rem;
}
.img {
  display: flex;
  justify-content: center;
}
.img > img {
  aspect-ratio: 1 / 1;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .card {
    display: block;
    overflow: scroll;
    height: fit-content;
  }
  .description {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .lists {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .img {
    height: 200px;
  }
}