a {
  text-decoration: none;
}
#nav {
  display: flex;
  align-items: center;
}
#logo {
  font-size: 3rem;
  font-weight: 600;
  -webkit-text-stroke: 2px var(--text-color);
  color: var(--bg-primary);
}
#nav > a.active > #logo {
  color: var(--text-color);
  -webkit-text-stroke: 0px var(--text-color);
}
.nav-link-container {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}
.nav-link-container > a > .underline {
  width: 0%;
  height: 1px;
  background: var(--highlight-color);
  transition: width 0.3s ease-in-out;
}
.nav-link-container > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.nav-link-container > a.active {
  font-weight: 800;
  color: var(--highlight-color);
}
.nav-link-container > a.active > .underline {
  width: 100%;
}
.nav-link-container > a:hover > .underline {
  width: 100%;
}