.contact {
  width: 1024px;
  height: 100%;
}
.content {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.content > div {
  flex: 1;
}

@media screen and (max-width: 1024px) {
  .contact {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* .contact {
    width: 100%;
  } */
}