.contact {
  width: 1024px;
  height: 100%;
}
.content {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.content > div {
  flex: 1;
}
.mobile {
  display: none;
}
.mobile {
  line-height: 1.5rem;
}
.mobile > span {
  font-weight: 600;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .contact {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .mobile {
    display: block;
  }
}