.accordion {
  width: 100%;
}
.header {
  display: flex;
  border: 1px solid var(--text-color);
  padding: 0.5rem;
  cursor: pointer;
}
.header > svg {
  transition: transform 0.3s ease-in-out;
}
.content {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
