.accordion {
  width: 100%;
}
.header {
  display: flex;
  border: 1px solid var(--text-color);
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: var(--bg-primary);
  background: var(--text-color);
  border-bottom: 1px solid var(--bg-primary);
}
.header > h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--bg-primary);
  padding: 0rem 4rem;
}
.header > svg {
  transition: transform 0.3s ease-in-out;
}
.content {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

@media screen and (max-width: 760px) {
  .header {
    padding: 1rem;
  }
  .header > svg {
    flex: 1;
  }
  .header > h5 {
    flex: 1;
    text-align: center;
    padding: 0;
  }
}
