.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  opacity: 0.1;
  background-image: linear-gradient(var(--text-color) 1px, transparent 1px),
    linear-gradient(to right, var(--text-color) 1px, var(--background-color) 1px);
  background-size: 120px 120px;
}
